/* Top Right Design */

position: absolute;
width: 652.57px;
height: 446.93px;
left: 993.31px;
top: -66.57px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Line */

position: absolute;
width: 97.1px;
height: 0px;
left: 1014px;
top: 0px;

border: 1.99133px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 95.4px;
height: 0px;
left: 1112px;
top: -3px;

border: 1.97387px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.13px;
height: 0px;
left: 1099.56px;
top: 80.9px;

border: 1.96063px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 1196px;
top: 77px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1196px;
top: -7px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 1283.42px;
top: 73.73px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 96.25px;
height: 0px;
left: 1283.42px;
top: -9.27px;

border: 1.98262px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.87px;
height: 0px;
left: 1364px;
top: 71px;

border: 1.96837px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 95.72px;
height: 0px;
left: 1364px;
top: -12px;

border: 1.97714px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1149px;
top: 161.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1246px;
top: 158px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1342px;
top: 154.64px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 1066px;
top: 72.2px;



/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1066px;
top: 82.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1163px;
top: 79px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1259px;
top: 75.64px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 94.55px;
height: 0px;
left: 1190px;
top: 159px;

border: 1.96509px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 1287px;
top: 156px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 1374.42px;
top: 152.73px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1455px;
top: 150px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 96.03px;
height: 0px;
left: 1287px;
top: 238px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 1384px;
top: 235px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1471.42px;
top: 231.73px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1552px;
top: 229px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(57.93deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 1240px;
top: 230px;



/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1240px;
top: 240.24px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1337px;
top: 236.8px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1433px;
top: 233.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Group */

position: absolute;
width: 295.88px;
height: 10.24px;
left: 1350px;
top: 62.2px;



/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1350px;
top: 72.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1452px;
top: 69px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1548px;
top: 65.64px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 1338px;
top: 309px;



/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1338px;
top: 319.24px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1435px;
top: 315.8px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1531px;
top: 312.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1529px;
top: 312.44px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-2.01deg);


/* Group */

position: absolute;
width: 424.58px;
height: 407.29px;
left: 993.31px;
top: -24.96px;

transform: rotate(-5.62deg);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 1188px;
top: 131px;



/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 1340.05px;
top: 192.02px;

background: #907EFF;
border-radius: 5px;
transform: rotate(117.92deg);


/* Group 3 */

position: absolute;
width: 405.75px;
height: 212.13px;
left: 1014px;
top: -27px;



/* Group 2 */

position: absolute;
width: 140.54px;
height: 121.9px;
left: 1192.72px;
top: 63.45px;

transform: rotate(-3.45deg);


/* Polygon */

position: absolute;
width: 73.41px;
height: 120.66px;
left: 1336.42px;
top: 111.81px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.41, 0.91, -0.91, -0.42, 0, 0);


/* Group 2.1 */

position: absolute;
width: 123.02px;
height: 84.84px;
left: 1289px;
top: 84.06px;

transform: rotate(-5.62deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 1415.31px;
top: 111.42px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.44, 0.83, -1.02, -0.32, 0, 0);


/* Group 2.2 */

position: absolute;
width: 123.02px;
height: 84.84px;
left: 1289px;
top: 2.06px;

transform: rotate(-5.62deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 1415.31px;
top: 29.42px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.44, 0.83, -1.02, -0.32, 0, 0);


/* Group 2.4 */

position: absolute;
width: 139px;
height: 119px;
left: 1112.97px;
top: -15.55px;

transform: rotate(-1.99deg);


/* Polygon */

position: absolute;
width: 71.87px;
height: 119px;
left: 1253.82px;
top: 35.14px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.44, 0.9, -0.9, -0.44, 0, 0);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 1099.11px;
top: 53.37px;



/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 1251.16px;
top: 114.39px;

background: #907EFF;
border-radius: 5px;
transform: rotate(117.92deg);


/* Group 2.2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 1014px;
top: -24px;



/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 1166.05px;
top: 37.02px;

background: #907EFF;
border-radius: 5px;
transform: rotate(117.92deg);


/* Group 2.3 */

position: absolute;
width: 140.54px;
height: 121.9px;
left: 1195px;
top: -18.55px;

transform: rotate(-3.45deg);


/* Polygon */

position: absolute;
width: 73.41px;
height: 120.66px;
left: 1338.7px;
top: 29.81px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.41, 0.91, -0.91, -0.42, 0, 0);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 1284px;
top: 210px;



/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 1436.05px;
top: 271.02px;

background: #907EFF;
border-radius: 5px;
transform: rotate(117.92deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 1422.88px;
top: 195.29px;

background: #907EFF;
border-radius: 5px;
transform: matrix(-0.44, 0.83, -1.02, -0.32, 0, 0);
