/* Bottom Left Design */

position: absolute;
width: 660.03px;
height: 407.29px;
left: 453.15px;
top: 1049.51px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(174.65deg);


/* Group */

position: absolute;
width: 424.58px;
height: 407.29px;
left: 441.86px;
top: 1050.57px;

transform: rotate(174.65deg);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 247.92px;
top: 893.68px;

transform: rotate(-179.73deg);


/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 96.16px;
top: 831.94px;

background: #907EFF;
border-radius: 5px;
transform: rotate(-61.8deg);


/* Group 3 */

position: absolute;
width: 405.75px;
height: 212.13px;
left: 421.16px;
top: 1052.5px;

transform: rotate(-179.73deg);


/* Group 2 */

position: absolute;
width: 140.54px;
height: 121.9px;
left: 242.88px;
top: 961.2px;

transform: rotate(176.83deg);


/* Polygon */

position: absolute;
width: 73.41px;
height: 120.66px;
left: 99.41px;
top: 912.17px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.42, -0.91, 0.9, 0.42, 0, 0);


/* Group 2.1 */

position: absolute;
width: 123.02px;
height: 84.84px;
left: 146.7px;
top: 940.14px;

transform: rotate(174.65deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 20.51px;
top: 912.18px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.44, -0.83, 1.02, 0.33, 0, 0);


/* Group 2.2 */

position: absolute;
width: 123.02px;
height: 84.84px;
left: 146.31px;
top: 1022.14px;

transform: rotate(174.65deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 20.12px;
top: 994.18px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.44, -0.83, 1.02, 0.33, 0, 0);


/* Group 2.4 */

position: absolute;
width: 139px;
height: 119px;
left: 322.25px;
top: 1040.58px;

transform: rotate(178.28deg);


/* Polygon */

position: absolute;
width: 71.87px;
height: 119px;
left: 181.64px;
top: 989.22px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.44, -0.9, 0.9, 0.44, 0, 0);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 336.44px;
top: 971.73px;

transform: rotate(-179.73deg);


/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 184.68px;
top: 909.99px;

background: #907EFF;
border-radius: 5px;
transform: rotate(-61.8deg);


/* Group 2.2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 421.18px;
top: 1049.5px;

transform: rotate(-179.73deg);


/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 269.42px;
top: 987.76px;

background: #907EFF;
border-radius: 5px;
transform: rotate(-61.8deg);


/* Group 2.3 */

position: absolute;
width: 140.54px;
height: 121.9px;
left: 240.21px;
top: 1043.19px;

transform: rotate(176.83deg);


/* Polygon */

position: absolute;
width: 73.41px;
height: 120.66px;
left: 96.74px;
top: 994.15px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.42, -0.91, 0.9, 0.42, 0, 0);


/* Group 2 */

position: absolute;
width: 152.05px;
height: 130.7px;
left: 152.29px;
top: 814.22px;

transform: rotate(-179.73deg);


/* Polygon */

position: absolute;
width: 78.86px;
height: 130.29px;
left: 0.53px;
top: 752.48px;

background: #907EFF;
border-radius: 5px;
transform: rotate(-61.8deg);


/* Polygon */

position: absolute;
width: 54.21px;
height: 101.21px;
left: 13.35px;
top: 828.27px;

background: #907EFF;
border-radius: 5px;
transform: matrix(0.44, -0.83, 1.02, 0.33, 0, 0);


/* Group */

position: absolute;
width: 631.88px;
height: 331.38px;
left: 420.88px;
top: 1036.38px;

transform: rotate(180deg);


/* Line */

position: absolute;
width: 97.1px;
height: 0px;
left: 420.88px;
top: 1024.38px;

border: 1.99133px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 95.4px;
height: 0px;
left: 322.88px;
top: 1027.38px;

border: 1.97387px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.13px;
height: 0px;
left: 335.32px;
top: 943.48px;

border: 1.96063px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 238.88px;
top: 947.38px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 238.88px;
top: 1031.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 151.46px;
top: 950.65px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 96.25px;
height: 0px;
left: 151.46px;
top: 1033.65px;

border: 1.98262px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.87px;
height: 0px;
left: 70.88px;
top: 953.38px;

border: 1.96837px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 95.72px;
height: 0px;
left: 70.88px;
top: 1036.38px;

border: 1.97714px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 285.88px;
top: 862.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 188.88px;
top: 866.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 92.88px;
top: 869.74px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 368.88px;
top: 952.18px;

transform: rotate(180deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 368.88px;
top: 941.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 271.88px;
top: 945.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 175.88px;
top: 948.74px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 94.55px;
height: 0px;
left: 244.88px;
top: 865.38px;

border: 1.96509px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 147.88px;
top: 868.38px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 60.46px;
top: 871.65px;

border: 1.95956px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -20.12px;
top: 874.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 96.03px;
height: 0px;
left: 147.88px;
top: 786.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 94.02px;
height: 0px;
left: 50.88px;
top: 789.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -36.54px;
top: 792.65px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -117.12px;
top: 795.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(-122.07deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 194.88px;
top: 794.38px;

transform: rotate(180deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 194.88px;
top: 784.14px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 97.88px;
top: 787.58px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 1.88px;
top: 790.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Group */

position: absolute;
width: 295.88px;
height: 10.24px;
left: 84.88px;
top: 962.18px;

transform: rotate(180deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 84.88px;
top: 951.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -17.12px;
top: 955.38px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -113.12px;
top: 958.74px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Group */

position: absolute;
width: 290.88px;
height: 10.24px;
left: 96.88px;
top: 715.38px;

transform: rotate(180deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: 96.88px;
top: 705.14px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -0.12px;
top: 708.58px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -96.12px;
top: 711.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);


/* Line */

position: absolute;
width: 97.94px;
height: 0px;
left: -94.12px;
top: 711.94px;

border: 2px solid rgba(105, 101, 127, 0.67);
transform: rotate(177.99deg);
