body, html{
	height: 100%;
	margin: 0;
	overflow: hidden;
}

a{
	color: black;
	text-decoration: none;
}

body{
	background: url('Homepage.svg') no-repeat;
	background-size: cover;
}

nav{
	text-align: center;
}

nav ul{
	display: inline-block;
	list-style-type: none;
	float: center;
}

nav ul li{
	float: center;
}

nav ul li a{
	display: block;
	color: #000;
}

#block_row1{
	margin-top: 275px;
}

#block_row2{
	margin-top: 0;
}

.container{
	text-align: center;
	width: 100%;
}


#small_logo{
	position: relative;
}

#small_logo img{
	top: 0px;
	left: 0px;
}

#top_right{
	position: absolute;
	top: 0%;
	right: 0%;
}

#bot_left{
	position: absolute;
	left: 0%;
	bottom: 0%;
}

.button{
	float: center;
	font-family: Encode Sans Condensed;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 100%;
	text-align: center;
	font-vertical-align: top;
	display: inline-block;
	cursor: pointer;
	padding: 14px 20px;
	width: 200px;
	transition: all 0.5s;
	margin: 5px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0,0,0,0);
	color: black;

	font-color: #7E6FE2;
	background-color: white;

	border-radius: 12px;
	border: none;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.2s
}

.button span{
	cursor: pointer;
	display: inline-block;
	position: sticky;
	font-size: 80%;
	text-align: center;
	transition: 0.5s;
	opacity: 0;
}

.button span:after{
	content: '\00bb';
	position: static;
	text-align: center;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}

.button:hover span {
	padding-top: 20px;
	white-space: normal;
	position: static;
	opacity: 1;
}


body, html{
	height: 100%;
	margin: 0;
}
